<center>
<img src="../../img/ods_stickers.jpg">
    
## [mlcourse.ai](https://mlcourse.ai) - Open Machine Learning Course

Author: [Yury Kashnitsky](https://www.linkedin.com/in/festline/). Translated and edited by [Sergey Isaev](https://www.linkedin.com/in/isvforall/), [Artem Trunov](https://www.linkedin.com/in/datamove/), [Anastasia Manokhina](https://www.linkedin.com/in/anastasiamanokhina/), and [Yuanyuan Pao](https://www.linkedin.com/in/yuanyuanpao/). All content is distributed under the [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/) license.

# <center> Assignment #1 (demo)
## <center>  Exploratory data analysis with Pandas


**Same assignment as a [Kaggle Kernel](https://www.kaggle.com/kashnitsky/a1-demo-pandas-and-uci-adult-dataset) + [solution](https://www.kaggle.com/kashnitsky/a1-demo-pandas-and-uci-adult-dataset-solution).**

**In this task you should use Pandas to answer a few questions about the [Adult](https://archive.ics.uci.edu/ml/datasets/Adult) dataset. (You don't have to download the data – it's already  in the repository). Choose the answers in the [web-form](https://docs.google.com/forms/d/1uY7MpI2trKx6FLWZte0uVh3ULV4Cm_tDud0VDFGCOKg).**

Unique values of all features (for more information, please see the links above):
- `age`: continuous.
- `workclass`: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
- `fnlwgt`: continuous.
- `education`: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
- `education-num`: continuous.
- `marital-status`: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
- `occupation`: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
- `relationship`: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
- `race`: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
- `sex`: Female, Male.
- `capital-gain`: continuous.
- `capital-loss`: continuous.
- `hours-per-week`: continuous.
- `native-country`: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.   
- `salary`: >50K,<=50K

In [3]:
import numpy as np
import pandas as pd
from ast import literal_eval
pd.set_option('display.max.columns', 100)
# to draw pictures in jupyter notebook
%matplotlib inline 
import matplotlib.pyplot as plt
import seaborn as sns
# we don't like warnings
# you can comment the following 2 lines if you'd like to
import warnings
warnings.filterwarnings('ignore')
pd.set_option('precision', 2)

In [4]:
# data = pd.read_csv('data/adult.data.csv',names=["age","workclass","fnlwgt","education","education-num","marital-status","occupation","relationship","race","sex","capital-gain","capital-loss","hours-per-week","native-country","salary"], converters={'sex': str, 'native-country': str}, engine="python")
data = pd.read_csv('data/adult.data.csv', sep=', ')
data.dtypes

age                int64
workclass         object
fnlwgt             int64
education         object
education-num      int64
marital-status    object
occupation        object
relationship      object
race              object
sex               object
capital-gain       int64
capital-loss       int64
hours-per-week     int64
native-country    object
salary            object
dtype: object

In [5]:
col_as_string = data['sex'].astype(str)
del data['sex']
data['sex'] = col_as_string
data.dtypes

age                int64
workclass         object
fnlwgt             int64
education         object
education-num      int64
marital-status    object
occupation        object
relationship      object
race              object
capital-gain       int64
capital-loss       int64
hours-per-week     int64
native-country    object
salary            object
sex               object
dtype: object

**1. How many men and women (*sex* feature) are represented in this dataset?**

In [189]:
data.groupby("sex").sex.count()

sex
Female    10771
Male      21790
Name: sex, dtype: int64

**2. What is the average age (*age* feature) of women?**

In [190]:
data[data.sex == 'Female'].mean()

age                   36.86
fnlwgt            185746.31
education-num         10.04
capital-gain         568.41
capital-loss          61.19
hours-per-week        36.41
married                0.17
dtype: float64

**3. What is the percentage of German citizens (*native-country* feature)?**

In [209]:
data[data['native-country']=='Germany']['native-country'].count() * 100 / data.count()

age               0.42
workclass         0.42
fnlwgt            0.42
education         0.42
education-num     0.42
marital-status    0.42
occupation        0.42
relationship      0.42
race              0.42
sex               0.42
capital-gain      0.42
capital-loss      0.42
hours-per-week    0.42
native-country    0.42
salary"           0.42
dtype: float64

**4-5. What are the mean and standard deviation of age for those who earn more than 50K per year (*salary* feature) and those who earn less than 50K per year? **

In [199]:
data[data.salary == '<=50K'].age.describe()

count    24720.00
mean        36.78
std         14.02
min         17.00
25%         25.00
50%         34.00
75%         46.00
max         90.00
Name: age, dtype: float64

**6. Is it true that people who earn more than 50K have at least high school education? (*education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* or *Doctorate* feature)**

In [235]:
data[(data.salary == '>50K') &  (~data.education.isin(['Bachelors', 'Prof-school', 'Assoc-acdm', 'Assoc-voc', 'Masters','Doctorate']))].age.count()== 0

False

**7. Display age statistics for each race (*race* feature) and each gender (*sex* feature). Use *groupby()* and *describe()*. Find the maximum age of men of *Amer-Indian-Eskimo* race.**

In [196]:
print(data.groupby(['race','sex']).describe().age.describe())
print(data[data.race=='Amer-Indian-Eskimo'].age.max())

          count   mean    std    min    25%    50%    75%    max
count     10.00  10.00  10.00  10.00  10.00  10.00  10.00  10.00
mean    3256.10  36.68  12.66  17.10  26.70  34.80  44.88  83.80
std     6163.27   2.34   0.88   0.32   1.95   2.74   2.74   6.91
min      109.00  31.68  11.36  17.00  23.00  29.00  39.00  74.00
25%      169.50  35.52  12.11  17.00  25.25  33.50  44.06  77.75
50%      519.50  37.16  12.76  17.00  27.00  35.50  46.00  86.00
75%     1565.50  37.81  13.06  17.00  28.00  36.75  46.00  90.00
max    19174.00  39.65  14.33  18.00  29.00  38.00  49.00  90.00
82

**8. Among whom is the proportion of those who earn a lot (>50K) greater: married or single men (*marital-status* feature)? Consider as married those who have a *marital-status* starting with *Married* (Married-civ-spouse, Married-spouse-absent or Married-AF-spouse), the rest are considered bachelors.**

In [45]:
def is_married(mStatus) : 
    return mStatus.startswith('Married')
series_married = [is_married(mStatus) for mStatus in data['marital-status']]
data['married']= series_married

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,capital-gain,capital-loss,hours-per-week,native-country,salary,sex,married
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,2174,0,40,United-States,<=50K,Male,False
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,0,0,13,United-States,<=50K,Male,True
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,0,0,40,United-States,<=50K,Male,False
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,0,0,40,United-States,<=50K,Male,True
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,0,0,40,Cuba,<=50K,Female,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,0,0,38,United-States,<=50K,Female,True
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,0,0,40,United-States,>50K,Male,True
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,0,0,40,United-States,<=50K,Female,False
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,0,0,20,United-States,<=50K,Male,False
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,15024,0,40,United-States,>50K,Female,True

In [83]:
grouped = data[['sex','married','salary']].loc[data.sex=='Male'].groupby(by = ['married','salary'], as_index = False).count()
print(grouped)

   married salary   sex
0    False  <=50K  7552
1    False   >50K   697
2     True  <=50K  7576
3     True   >50K  5965

**9. What is the maximum number of hours a person works per week (*hours-per-week* feature)? How many people work such a number of hours, and what is the percentage of those who earn a lot (>50K) among them?**

In [198]:
print(data['hours-per-week'].value_counts().sort_index(ascending=False).iloc[0])
grouped = data[data['hours-per-week'] == data['hours-per-week'].max()].salary.value_counts()
print(grouped.loc['>50K'] / grouped.sum() * 100)

85
29.411764705882355

**10. Count the average time of work (*hours-per-week*) for those who earn a little and a lot (*salary*) for each country (*native-country*). What will these be for Japan?**

In [185]:
salary_per_country=data.groupby(['salary','native-country'], as_index=False)['hours-per-week'].mean()
print(salary_per_country[salary_per_country['native-country']=='Japan'])

   salary native-country  hours-per-week
24  <=50K          Japan           41.00
65   >50K          Japan           47.96