En este notebook vamos a intentar predecir la admisión en una universidad a partir de los principales criterios.

1.- Carga de librerias

In [5]:
import sys
assert sys.version_info >= (3, 5)

In [3]:
import numpy as np
import pandas as pd

In [4]:
# Scikit-Learn ≥0.20 is required
import sklearn
assert sklearn.__version__ >= "0.20"

2.- Carga y depuración del dataset

In [7]:
data = pd.read_csv('data/Admission_Predict_001.csv')
# data = pd.read_csv('data/Admission_Predict_002.csv')

In [17]:
data.dtypes
data.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65